RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.html [L,QSA]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 5 minutes"
</IfModule>
