---
layout: page
title: About
og-description: Arkose's strategic advisors, experts, and team
nav-menu: true
order: 2
---


<div class="section">
  <div class="inner">
    <div class="row align-items-center">
      <div>
        <h1> About </h1>
        <p>Arkose is an early-stage, field-building nonprofit with the mission of improving the safety of advanced AI systems. Arkose focuses on supporting researchers, engineers, and other professionals interested in contributing to technical AI safety. We do this by:</p>

        <ul>
        <li>Hosting calls and other support programs that provide<b> connections, mentorship, resources, and tailored guidance</b> to researchers, engineers, and others with relevant skill sets to facilitate their engagement in AI safety technical research. Machine learning professionals are invited to <a href="{{site.applyurl}}">request a call</a>.</li>
        <li>Advancing understanding of AI safety research and opportunities via <b>outreach</b> and <b>curating educational resources</b>. See our <a href="resources">Resource Center</a>, which is periodically reviewed by an <a href="#panel">advisory panel of experts</a> in the field.</li>
        </ul>

        <p>Our older 2022 work aimed to facilitate discussion and evaluation of potential risks from advanced AI, with a focus on soliciting and engaging with expert perspectives on the arguments and providing resources for stakeholders. Our results, based on a set of 97 interviews with AI researchers on their perspectives on current AI and the future of AI (pre-ChatGPT era), can be found at <a href="resources#ai-risk-discussions">AI Risk Discussions</a>.</p>

      </div>
    </div>
  </div>
</div>

<div class="section bg-gray" id="experts">
  <div class="inner">
    {% assign cards = site.advisors %}
    {% assign advisors1 = cards | where: "section", "strategic" | sort: 'order' %}
    {% assign advisors2 = cards | where: "section", "selected" | sort: 'order' %}

    <h2>Selected Experts</h2>

    <p>Experts generously lend their knowledge and time to Arkose's pairing program, providing one-on-one support to researchers and engineers interested in contributing to technical AI safety.</p>

    <div class="cards">
      {% for card in advisors2 %}
        {% include person_card.html card=card %}
      {% endfor %}
    </div>
  </div>
</div>


<div class="section" id="panel">
  <div class="inner">
    {% assign cards = site.advisors %}
    {% assign advisors1 = cards | where: "section", "strategic" | sort: 'order' %}
    {% assign advisors2 = cards | where: "section", "selected" | sort: 'order' %}

    <h2>Strategic Advisory Panel</h2>

    <p>Strategic advisory panel members advise on Arkose's suggested resources, recommendations, and strategic direction.</p>

    <div class="cards">
      {% for card in advisors1 %}
        {% include person_card.html card=card %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="section bg-gray">
  <div class="inner">
    <h2>Team</h2>
    <div class="cards">
      <a href="https://vaelgates.com">
        <div class="card card-team">
          <div class="card-thumbnail">
            <img src="/assets/images/people/vael-gates.jpg">
          </div>
          <div class="card-content">
            <div class="card-title">
              <h3>Dr. Vael Gates</h3>
            </div>
            <div class="card-description">Founder</div>
          </div>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/zacharythomas10/">
        <div class="card card-team">
          <div class="card-thumbnail">
            <img src="/assets/images/people/zachary-thomas.jpg">
          </div>
          <div class="card-content">
            <div class="card-title">
              <h3>Zachary Thomas</h3>
            </div>
            <div class="card-description">Operations</div>
          </div>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/audrazook/">
        <div class="card card-team">
          <div class="card-thumbnail">
            <img src="/assets/images/people/audra-zook.jpg">
          </div>
          <div class="card-content">
            <div class="card-title">
              <h3>Audra Zook</h3>
            </div>
            <div class="card-description">Operations</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


