<div class="argument-container">
  <a class="argument-shape-link {% if sub_argument.url == decoded_page_url %}active{% endif %} {% if sub_argument.nodeLinkUrl %}indirect-node{% endif %}" href="{{site.baseurl}}{{ sub_argument.url | default: sub_argument.nodeLinkUrl }}" data-url="{{ sub_argument.url | default: sub_argument.nodeLinkUrl }}" data-effect="{{sub_argument.effect}}">
    <svg width="21" height="21" viewbox="-50 -50 100 100" class="argument-shape">
      <polygon points="-40,0 0,-40 40,0 0,40" rx="3" />
    </svg>
    <span class="argument-title">{{sub_argument.name}}</span>
  </a>
  {% if sub_argument.nodes.size > 0 %}
    <div class="sub-sub-argument">
      {% for sub_argument in sub_argument.nodes %}
        {% unless sub_argument.listInTree == false %}
          {% include argument_symbol.html %}
        {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>