<div class="footer-spacer"></div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			<li><a href="{{site.baseurl}}/privacy-policy.html">Privacy Policy</a></li>
			<li><a href="https://airtable.com/appPMHlJ6Z7XkDSEi/shrAPk5zqiAfqZXNE">Feedback?</a></li>

			<!--<li><a href="{{site.baseurl}}/about">About</a></li>-->
			<!-- <li class="footer-right-item"><a href="/call-specialist">We're Hiring!</a></li> -->
		</ul>
		<p class="legal">Arkose operates as a project of Players Philanthropy Fund, a Maryland charitable trust recognized by IRS as a tax-exempt public charity under Section 501(c)(3) of the Internal Revenue Code (Federal Tax ID: 27-6601178). Arkose is funded by the Survival and Flourishing Fund.</p>
	</div>
</footer>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/theme.js" | absolute_url }}"></script>