<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{site.baseurl}}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav id="nav">
		<ul class="links">
			<!-- {% for page in site.pages %}
				{% if page.layout == "home" %}
						<li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %} -->
			{% assign sorted_pages = site.html_pages | sort:"order" %}
			<li><a href="/aird/arguments/introduction">Arguments</a></li>
			{% for page in sorted_pages %}
					{% if page.layout != "home" and page.nav-menu == true %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
					{% endif %}
			{% endfor %}

			<li>
				<a href="mailto:{{site.email}}" class="icon fa-envelope"></a>
			</li>
		</ul>
	</nav>	
</header>
