<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<!-- <a href="{{site.baseurl}}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a> -->
	<a href="/" class="navbar-brand mr-lg-5">
		<img src="/assets/images/arkose.png">
		<img src="/assets/images/arkose-logo-text.svg" class="logo-text-image">
	</a>
	<nav id="nav">
		<ul class="links">
			{% for item in site.data.settings.menu_settings.menu_items %}
				{% if item.hidden %}
					{% continue %}
				{% endif %}
				{% assign active_class = "" %}
				{% if item.url == page.url %}
					{% assign active_class = "active" %}
				{% endif %}
				{% assign fade_class = "" %}
				{% if item.fade %}
					{% assign fade_class = "fade" %}
				{% endif %}
				{% assign button_class = "" %}
				{% if item.button %}
					{% assign button_class = "button" %}
				{% endif %}
				{% assign has_submenu = false %}
				{% if item.submenu %}
					{% assign has_submenu = true %}
				{% endif %}
				{% if has_submenu %}
					<li class="dropdown">
						<a href="{{ item.url | absolute_url }}" class="{{active_class}} {{fade_class}}">{{ item.title }} <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-content">
							{% for subitem in item.submenu %}
								{% assign active_class = "" %}
								{% if subitem.url == page.url %}
									{% assign active_class = "active" %}
								{% endif %}
								{% assign fade_class = "" %}
								{% if item.fade %}
									{% assign fade_class = "fade" %}
								{% endif %}
								<li><a href="{{ subitem.url | absolute_url }}" class="{{active_class}} {{fade_class}}">{{ subitem.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					{% assign title = item.title %}
					{% if item.shorttitle %}
						{% capture title %}
							<span class='not-medium'>{{ item.title }}</span>
							<span class='only-medium'>{{ item.shorttitle }}</span>
						{% endcapture %}
					{% endif %}
					<li><a href="{{ item.url | absolute_url }}" class="{{active_class}} {{fade_class}} {{button_class}}">{{ title | raw }}</a></li>
				{% endif %}
			{% endfor %}

			<li>
				<a href="mailto:{{site.email}}" class="icon fa-envelope"></a>
			</li>
		</ul>
	</nav>	
</header>
