<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{site.baseurl}}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav id="nav">
		<ul class="links">
			<!-- {% for page in site.pages %}
				{% if page.layout == "home" %}
						<li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %} -->
			{% assign sorted_pages = site.html_pages | sort:"order" %}
			<li><a href="/aird/arguments/when-agi">Arguments</a></li>
			{% for page in sorted_pages %}
					{% if page.layout != "home" and page.nav-menu == true %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
					{% endif %}
			{% endfor %}
			<li class="theme-toggle-container">
				<a class="theme-toggle" onclick="modeSwitcher()">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
</svg>
				</a>
			</li>
		</ul>
	</nav>	
</header>
