<svg width="64" height="64" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <style>
      .spinner {
          animation: spinner_Ctle .8s linear infinite;
          animation-delay: -.8s
      }
      .spinner2 {
          animation-delay: -.65s
      }
      .spinner3 {
          animation-delay: -.5s
      }
      @keyframes spinner_Ctle {
          93.75%,100% {
              opacity: .2
          }
      }
  </style>
  <rect class="spinner" x="1" y="4" width="6" height="14"/>
  <rect class="spinner spinner2" x="9" y="4" width="6" height="14"/>
  <rect class="spinner spinner3" x="17" y="4" width="6" height="14"/>
</svg>