
<script src="/assets/js/list.min.js"></script>

<div id="main" class="alt">
  <section>
    <div class="inner">
      <header class="major">
        <h1>AI Safety Papers</h1>
      </header>
      <div class="inner">
        <h3> Use the "ML Subfield" filter to find AI safety publications relevant to your area of expertise.</h3>
        <p>Curated with input from the experts on our <a href="about#panel">Strategic Advisory Panel</a>, this collection of papers, blog posts, and videos contains top and recent AI safety papers, categorized by machine learning (ML) subfields and AI safety subfields.</p>
      </div>
      <div id="paper-list">
        <div class="row mt1 mb1">
          <div class="12u">
            <input type="search" class="search form-control" placeholder="Search" />
          </div>
        </div>
        <div class="row">
          {% include paper_filter.html field_id="ml_subfield" field_display="ML Subfield" options=empty %}
          {% include paper_filter.html field_id="safety_category" field_display="Safety Category" options=empty %}
          {% include paper_filter.html field_id="ml_subtopic" field_display="ML Subtopic" options=empty %}
          {% include paper_filter.html field_id="safety_topic" field_display="Safety Topic" options=empty %}
          {% include paper_filter.html field_id="type" field_display="Type" options=empty %}
          <div class="12u filter-list"></div>
        </div>
        <div class="results-count">
          <span class="results-count-text"><span class="results-count-number">0</span> results</span>
        </div>
        <ul class="list"></ul>
      </div>
    </div>
  </section>
</div>

<div class="hidden">
  <li id="paper-item" class="paper-item">
    <div class="title-container">
      <img class="type-icon image" />
      <h3 class="Title"></h3>
    </div>
    <div class="detail-opener">
      <svg aria-label="open" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="detail">
      <div class="ML SubfieldDisplay"></div>
      <div class="ML SubtopicDisplay"></div>
      <div class="Safety CategoryDisplay"></div>
      <div class="Safety TopicDisplay"></div>
      <div class="TypeDisplay"></div>
      <div class="TwitterDisplay"></div>
      <div class="Blog or VideoDisplay"></div>
      <div class="Supplementary MaterialDisplay"></div>
      <div class="Transcripts / Audio / SlidesDisplay"></div>
      <div class="AbstractDisplay"></div>
    </div>
  </li>
</div>

<script>
  $(function() {
    var papersList;
    const filters = {
      "Safety Category": new Set(),
      "Safety Topic": new Set(),
      "ML Subfield": new Set(),
      "ML Subtopic": new Set(),
      "Type": new Set(),
    }
    const filterOptions = {
      "Safety Category": new Set(),
      "Safety Topic": new Set(),
      "ML Subfield": new Set(),
      "ML Subtopic": new Set(),
      "Type": new Set(),
    }

    const options = {
      valueNames: [
        'Title',
        'Safety TopicDisplay',
        'Safety Category',
        'Safety CategoryDisplay',
        'Type',
        'TypeDisplay',
        'Twitter',
        'TwitterDisplay',
        "Blog or Video",
        "Blog or VideoDisplay",
        "Supplementary Material",
        "Supplementary MaterialDisplay",
        "Transcripts / Audio / Slides",
        "Transcripts / Audio / SlidesDisplay",
        "ML Subfield",
        "ML SubfieldDisplay",
        "ML Subtopic",
        "ML SubtopicDisplay",
        "Abstract",
        "AbstractDisplay",
        { attr: 'src', name: 'image' }
      ],
      item: 'paper-item'
    };

    let papers = [];

    function isDarkMode() {
      if (window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
        return true;

      return document.documentElement.getAttribute('data-theme') === 'dark';
    }

    function listify(papersJson) {
      papers = papersJson.filter(paper => paper.Title && paper.Title.length > 0 && paper['ML Subfield'] && paper['Type'])
                        .map(function(paper) {
        const modeStr = isDarkMode() ? '-dark' : ''

        if (!paper.Type) {
          paper.image = `/assets/images/medium/other${modeStr}.svg`;
        } else if (paper.Type.length > 1 && paper.Type.includes("Paper")) {
          paper.image = `/assets/images/medium/paper${modeStr}.svg`;
        } else {
          paper.image = `/assets/images/medium/${paper.Type[0].toLowerCase()}${modeStr}.svg`;
        }
        paper['Safety CategoryDisplay'] = paper['Safety Category'].map(item => `<span class="field-single safety-category-single">${item}</span>`).join('');
        paper['Safety Topic'] = paper['Safety Topic'] ?? [];
        paper['Safety TopicDisplay'] = paper['Safety Topic'].map(item => `<span class="field-single safety-topic-single">${item}</span>`).join('');
        paper['ML SubfieldDisplay'] = paper['ML Subfield'].map(tag => `<span class="field-single ml-subfield-single">${tag}</span>`).join('');
        paper['ML Subtopic'] = paper['ML Subtopic'] ?? [];
        paper['ML SubtopicDisplay'] = paper['ML Subtopic'].map(tag => `<span class="field-single ml-subtopic-single">${tag}</span>`).join('');
        paper['TypeDisplay'] = paper['Type'].map(tag => `<span class="field-single type-single">${tag}</span>`).join('');
        paper.Title = linkify(paper.Link, paper.Title.replace("\n", ''));
        paper['Transcripts / Audio / SlidesDisplay'] = linkify(paper['Transcripts / Audio / Slides'], 'Transcripts / Audio / Slides');
        paper['Supplementary MaterialDisplay'] = linkify(paper['Supplementary Material'], 'Supplementary Material');
        paper['TwitterDisplay'] = linkify(paper['Twitter'], 'Twitter');
        paper['AbstractDisplay'] = paper.Abstract ? `<h4>Abstract</h4>${paper.Abstract}` : '';
        return paper;
      });

      papersList = new List('paper-list', options, papers);

      $(document).on('change', '.filter-dropdown input', function(e) {
        var filter = this.value;
        var filterType = $(this).closest('.filter-dropdown').data('filter-type');
        if (filters[filterType].has(filter)) {
          filters[filterType].delete(filter);
        } else {
          filters[filterType].add(filter);
        }
        updateList();
      });

      // Get options for each filter from the JSON
      Object.keys(filterOptions).forEach(function(filterType) {
        papers.forEach(function(paper) {
          paper[filterType].forEach(function(filter) {
            filterOptions[filterType].add(filter);
          });
        });
      });

      // Replace the filter options of each ".filter-dropdown ul" with the ones from the JSON
      Object.keys(filterOptions).forEach(function(filterType) {
        var filterDropdown = $('.filter-dropdown-' + slugify(filterType) + ' ul');
        Array.from(filterOptions[filterType]).sort().forEach(function(option) {
          filterDropdown.append(`<li data-option="${option}">
            <input type="checkbox" id="option-${slugify(filterType)}-${option}" name="option-${slugify(filterType)}-${option}" value="${option}">
            <label for="option-${slugify(filterType)}-${option}">
              ${option}
              <span class="filter-option-count"></span>
            </label>
          </li>`);
        });
      });
      
      // On page load, read the query params and set the filters
      var params = new URLSearchParams(window.location.search);
      // Special case: if there are no filters set, filter Type to Paper by default
      if (params.size === 0) {
        filters['Type'].add('Paper');
        $('input[name="option-type-Paper"]').prop('checked', true);
      } else {
        Object.keys(filters).forEach(function(filterType) {
          if (!params.has(filterType)) return

          params.getAll(filterType)[0].split(',').forEach(function(filter) {
            if (filter === '') return; // Type param can have an empty string to indicate it should *not* apply the default Type=paper

            filters[filterType].add(filter);
            $('input[name="option-' + slugify(filterType) + '-' + filter + '"]').prop('checked', true);
          });
        });
      }
      updateList();

      $('input.search').on('change', function(e) {
        updateFilterOptionCounts();
      });

      papersList.on('updated', function (list) {
        updateResultsCount();
      });
    }

    fetch('/export/papers.json')
      .then(response => response.json())
      .then(data => {
        listify(data)
      })
      .catch(error => console.error('Error loading JSON:', error));

    function resetList(){
      papersList.search();
      papersList.filter();
      papersList.update();
      $(".filter-all").prop('checked', true);
      $('.filter').prop('checked', false);
      $('.search').val('');
    };

    function updateFilters() {
      papersList.filter(function (paper) {
        return Object.keys(filters).every(function(filterType) {
          if (filters[filterType].size == 0) return true

          return paper.values()[filterType].some(item => filters[filterType].has(item))
        });
      });
    }

    function updateResultsCount(){
      $('.results-count-number').text(papersList.matchingItems.length);
    }

    function updateShownFilters(){
      var filterList = $('.filter-list');
      filterList.empty();
      Object.keys(filters).forEach(function(filterType) {
        filters[filterType].forEach(function(filter) {
          filterList.append(`<span class="filter-item filter-item-${slugify(filterType)}" data-filter-type="${filterType}">` + filter + '</span>');
        });
      });
    }

    function updateFilterTitleCount(){
      Object.keys(filters).forEach(function(filterType) {
        const filterSlug = slugify(filterType)
        if (filters[filterType].size) {
          $('.filter-' + filterSlug + ' .dropdown-title').addClass('filter-active');
          // $('.filter-' + filterSlug + ' .dropdown-title .filter-type-count').text('(' + filters[filterType].size + ')');
        } else {
          $('.filter-' + filterSlug + ' .dropdown-title').removeClass('filter-active');
          // $('.filter-' + filterSlug + ' .dropdown-title .filter-type-count').text('');
        }
      });
    }

    function updateQueryParams(){
      var params = new URLSearchParams(window.location.search);
      Object.keys(filters).forEach(function(filterType) {
        params.delete(filterType);
        // Type is a special case
        if (filters[filterType].size || filterType === 'Type')
          params.append(filterType, Array.from(filters[filterType]));
      });
      var newRelativePathQuery = window.location.pathname + (params.toString() ? '?' : '') + params.toString();
      if (newRelativePathQuery != window.location.pathname + window.location.search)
        history.pushState(null, '', newRelativePathQuery);
    }

    function titlesMatch(title1, title2) {
      return title1.match(/<a.*>(.*)<\/a>/)?.[1] == title2.match(/<a.*>(.*)<\/a>/)?.[1]
    }

    function updateFilterOptionCounts() {
      Object.keys(filterOptions).forEach(function(optionFilterType) {
        filterOptions[optionFilterType].forEach(function(option) {
          const filterOptionCount = $(`.filter-${slugify(optionFilterType)} li[data-option="${option}"] .filter-option-count`);

          // If the filter is already set, just remove the count
          if (filters[optionFilterType].has(option)) {
            filterOptionCount.text('');
            return;
          }

          // When there are no options set for a filter, adding an option *reduces* options, which is easy to calculate and is the
          // first option here.
          if (filters[optionFilterType].size == 0) {
            const remainingItems = papersList.matchingItems.filter(item => { return item.values()[optionFilterType].includes(option) })
            filterOptionCount.text('(' + remainingItems.length + ')');
          } else {
            // When there are options set for a filter, adding an option *increases* options, which we calculate here
            const unmatchedItems = papers.filter(paper => !papersList.matchingItems.some(item => titlesMatch(paper.Title, item.values().Title)))
            const newFilteredItems = unmatchedItems.filter(item => { return item[optionFilterType].includes(option) })

            // now apply the other filters
            const remainingFilteredItems = newFilteredItems.filter(item => {
              return Object.keys(filters).every(function(filterType) {
                if (filters[filterType].size == 0) return true
                if (filterType == optionFilterType) return true

                return item[filterType].some(item => filters[filterType].has(item))
              });
            });

            // now apply the search
            const searchTerm = $('input.search').val();
            // iterate through every field on each item and see if it matches the search term
            const remainingItems = remainingFilteredItems.filter(item => {
              return Object.keys(item).some(field => {
                return item[field].toString().toLowerCase().includes(searchTerm.toLowerCase())
              })
            })

            filterOptionCount.text(`(${remainingItems.length})`);
          }
        });
      });
    }

    function updateList(){
      updateFilters();
      papersList.update();
      updateFilterOptionCounts();
      updateShownFilters();
      updateFilterTitleCount();
      updateQueryParams();
    }

    function linkify(s, linkText) {
      if (!s) return '';
      return `<a href="${s}" target="_top">${linkText || s}</a>`
    }

    function slugify(s) {
      return s.toLowerCase().replace(' ', '_').replace(/\s/g, '_').replace(/[^a-z0-9-_]/g, '');
    }

    // Clicks on the dropdown title show/hide the dropdown
    $(".dropdown-title-box").on("click", function(e) {
      e.stopPropagation();
      var target = $(this).data("target");
      if ($("#" + target).hasClass('active')) {
        $('.filter-dropdown').removeClass('active');
      } else {
        $('.filter-dropdown').removeClass('active');
        $("#" + target).addClass("active");
      }
    });

    // Clicks outside a dropdown close it
    $('body').on('click', function(e) {
      if ($(e.target).closest('.filter-dropdown').length) return;

      $('.filter-dropdown').removeClass('active');
    });

    // Clicks on the filter items remove them
    $('body').on('click', '.filter-item', function(e) {
      var filter = $(e.target).closest('.filter-item').text();
      var filterType = $(e.target).closest('.filter-item').data('filter-type');
      $('input[name="option-' + slugify(filterType) + '-' + filter + '"]').prop('checked', false);
      filters[filterType].delete(filter);
      updateList();
    });

    // Clicks on the list items toggle them open/closed
    $('body').on('click', '.paper-item', function(e) {
      if ($(e.target).closest('a').length) return;

      e.stopPropagation();
      $(e.target).closest(".paper-item").toggleClass("active");
      $(e.target).closest(".paper-item").find('.detail').slideToggle(200);
    });
  });
</script>
