#paper-list {
  .search {
    font-size: 1.25rem;
    border: 1px solid #e2e8f0;
    &::placeholder {
      position: relative;
      top: 2px;
      color: var(--color-header-fg-light) !important;
    }
  }
  .dropdown-title-box {
    display: flex;
    line-height: 1;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background-color: var(--color-border-bg);
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 3rem;
  }
  .filter-ml_subfield .dropdown-title-box, .filter-category .dropdown-title-box {
    background-color: var(--color-dropdown-highlight);
  }
  .dropdown-title {
    font-size: 1.25rem;
    margin-top: 4px;
  }
  .filter-dropdown {
    width: max-content;
    box-shadow: 0 0 0 1px rgba(66, 153, 225, 0.5);
    padding: 0.5rem;
    background-color: var(--color-bg);
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    overflow-y: scroll;
    max-height: 344px;
    z-index: 40;
    position: absolute;
    display: none;
  }
  .filter-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .filter-dropdown li label {
    text-transform: unset;
    padding: 0.5rem 0 0.5rem 2.1rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0;
  }
  input[type="checkbox"]:not(:checked) + label::before {
    background: #e8e8e8;
  }
  .filter-dropdown li label:before {
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
    top: 0.525rem;
  }
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .filter-item {
      display: flex;
      align-items: center;
      padding: 0.25rem 0.5rem 0.1rem;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
      cursor: pointer;
      color: #000;
    }
    .filter-item::after {
      content: '×';
      margin-left: 0.5rem;
      margin-top: -2px;
    }
    .filter-item-category {
      border: 1px solid var(--color-filter-category);
      background-color: var(--color-filter-category-light);
    }
    .filter-item-safety_topic {
      border: 1px solid var(--color-filter-topic);
      background-color: var(--color-filter-topic-light);
    }
    .filter-item-ml_subfield {
      border: 1px solid var(--color-filter-ml-tag);
      background-color: var(--color-filter-ml-tag-light);
    }
    .filter-item-ml_subtopic {
      border: 1px solid var(--color-filter-ml-tag);
      background-color: var(--color-filter-ml-tag-light);
    }
    .filter-item-type {
      border: 1px solid var(--color-filter-type);
      background-color: var(--color-filter-type-light);
    }
  }
  .filter-active {
    font-weight: bold;
  }
  .field-single {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 0.25rem;
    color: #000;
  }
  .safety-category-single {
    border: 1px solid var(--color-filter-category);
    background-color: var(--color-filter-category-light);
  }
  .safety-topic-single {
    border: 1px solid var(--color-filter-topic);
    background-color: var(--color-filter-topic-light);
  }
  .ml-subfield-single {
    border: 1px solid var(--color-filter-ml-tag);
    background-color: var(--color-filter-ml-tag-light);
  }
  .ml-subtopic-single {
    border: 1px solid var(--color-filter-ml-tag-fine);
    background-color: var(--color-filter-ml-tag-fine-light);
  }
  .type-single {
    border: 1px solid var(--color-filter-type);
    background-color: var(--color-filter-type-light);
  }
  .results-count-text {
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.8;
  }
  ul.list {
    list-style: none;
    padding-left: 0;
    li.paper-item {
      position: relative;
      padding: 1em 0.5em 0.9em;
      border-top: 1px solid #ddd;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      margin-bottom: unset;
      .Title, .detail {
        padding-left: 60px;
      }
      .title-container {
        position: relative;
        .Title {
          position: relative;
          top: -2px;
          margin: 0;
          font-size: 20px;
          font-weight: normal;
          a:hover {
            border-bottom: 2px solid;
          }
        }
        .type-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          margin-right: 1rem;
          margin-top: -4px;
          user-select: none;
        }
      }
      .detail {
        display: none;
        padding-bottom: 0.75em;
        margin-top: 0.75rem;
        margin-bottom: -0.5rem;
        border: 1px solid transparent; // makes the jQuery slideToggle work smoothly, I don't know why
        .Medium {
          font-weight: bold;
        }
      }
      &:hover {
        background-color: var(--color-bg);
        .detail-opener {
          opacity: 1;
        }
      }
      &.active {
        // .detail {
        //   display: block;
        // }
        .detail-opener {
          svg {
            transform: rotate(180deg);
          }
        }
      }
      div {
        margin-top: 0.5em;
        margin-bottom: 0;
        font-size: 16px;
      }
      .detail-opener {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        background: linear-gradient(to bottom, transparent 0%, var(--color-border) 100%);
        margin-left: -0.5em;
        margin-right: -0.5em;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        svg {
          margin-top: -0.25em;
          font-size: 1.2em;
        }
      }
      &:first-of-type {
        border-top: 0;
      }
    }
  }
  .active {
    display: block;
  }
}

.twitter-link {
  svg {
    transition: fill 0.25s ease-in;
    &:hover {
      cursor: pointer;
      fill: #1DA1F2;
    }
  }
}

.twitter-link-small {
  &:hover {
    filter: unset; // absolute-positioned image inside a tag causes weird bug so we re-do this on the image
    cursor: pointer;
  }
  svg {
    height: 1.1em;
    transform: translateY(3px);
    transition: fill 0.25s ease-in;
    &:hover {
      fill: #1DA1F2;
    }
  }
}

ul .twitter-link-small svg {
  transform: translate(4px, 4px);
}

.TwitterDisplay .twitter-link img {
  height: 1.5em;
}

.color-bubble {
  padding: 0.25em 0.3em 0.1em;
  border-radius: 0.5em;
  color: var(--color-always-dark);
  b {
    color: var(--color-always-dark);
  }
}

.glossary-item {
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}

.add-category {
  text-decoration: underline;
  cursor: pointer;
}

.hero {
  width: 100vw;
  transform: translateX(-50%);
  margin-left: 50%;
}

#main > * > .inner.inner-wide {
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  #main > * > .inner.inner-wide {
    max-width: 60%;
  }
}

.testimonial {
  border-left:8px solid var(--color-arkose-dark-blue);
}

a.no-underline {
  text-decoration: none;
  border-bottom: none;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logos-grid {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    border: none;
    img {
      width: 100%;
      padding: 1rem 2.5rem;
      @media (prefers-color-scheme: dark) {
        filter: invert(1);
      }
    }
    @media (max-width: 600px) {
      img {
        padding: 1rem 1rem;
      }
    }
  }
}

html[data-theme="dark"] .logos-grid a img {
  filter: invert(1);
}

@supports not (filter: invert(1)) {
  @media (prefers-color-scheme: dark) {
    .logos-grid {
      background-color: #b2b8d6;
      margin: 0 0 0 1.25em;
      padding: 0;
    }
  }
  html[data-theme="dark"] .logos-grid {
    background-color: #b2b8d6;
    margin: 0 0 0 1.25em;
    padding: 0;
  }
}

.team-name-title {
  position: relative;
  padding-bottom: 0.1em;
  margin-bottom: 0.8em;
  h2 {
    margin-bottom: 0.25em;
  }
  &::after {
    content: "";
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #6e7ca0;
    position: absolute;
  }
  .role {
    margin: 0.5em 0;
  }
}

.bio {
  font-size: 1.2rem;
}

.team-image img {
  border-radius: 50%;
  width: 100%;
}

.bold {
  font-weight: bold;
}

#mc_embed_shell {
  // background-color: var(--color-bg-alt);
  max-width: 95vw;
  .mailchimp-inputs {
    display: flex;
    input[type="email"] {
      background-color: var(--color-always-lightish);
      padding: 0.2em 1em 0;
      color: var(--color-fg);
      height: 55px;
      &::placeholder {
        color: var(--color-always-dark) !important;
      }
    }
    .button {
      align-self: end;
      height: 56px;
      margin-left: 4px;
      line-height: 1.3em;
    }
    .mc-field-group {
      flex-grow: 1;
      max-width: 24em;
    }
  }
}

footer {
  .newsletter-pitch {
    margin-bottom: 0.7em;
  }
  #mc_embed_shell {
    .mailchimp-inputs {
      input[type="email"] {
        background-color: var(--color-always-lightish);
        height: 39px;
        padding: 0.25em 0.5em 0;
        color: var(--color-fg);
        &::placeholder {
          color: var(--color-always-dark) !important;
        }
      }
      .button {
        height: 43px;
        margin-left: 4px;
        margin-top: -2px;
        font-size: 0.9em;
        line-height: 0.98em;
      }
    }
  }
}
