.glide {
  max-width: calc(100% - 24px); // prevents image overflow on the right for the advisors; applied to all to keep the widths consistent
}

.glide__slides {
  display: flex;
  list-style: none;
}

.glide__arrow {
  padding: 0 0.5em;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.4;
  }
  &:active {
    background-color: unset;
    opacity: 0.15;
  }
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
    opacity: 0.8;
  }
}

.glide__arrow--left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 700px) {
  .glide__arrow {
    padding: 0;
  }
  .glide__arrow--left {
    padding-right: 18px;
  }
}

.glide__arrows {
  float: right;
}
.glide__arrows button {
  box-shadow: none;
}

html[data-theme="dark"] {
  .glide__arrow {
    filter: invert(1);
    opacity: 0.8;
  }
}

.glide-experts {
  .card-title h3 {
    font-size: 1.4rem;
    margin-bottom: 0.3em;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  .card-thumbnail {
    text-align: center;
    img {
      width: 448px;
      border-radius: 25%;
    }
  }
  a:hover {
    .card-title h3 {
      color: var(--color-highlight);
    }
    img {
      opacity: 0.8;
    }
  }
  .card-description {
    font-size: 1.2rem;
    text-align: center;
  }
}
