.argument-content * {
  @include inner;
}

.argument-map {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  font-size: 90%;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border-bg);
  .argument-list {
    margin-left: 10px;
    margin-top: 4px;
  }
}

.argument-branch-sidebar {
  max-width: 280px;
  position: fixed;
  top: 90px;
  left: calc(50% - 770px);
  display: none;
}

.root-argument {
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  background-color: var(--color-header-bg);
  padding: 4px 8px;
  cursor: pointer;
  line-height: 1.3em;
  &:hover {
    filter: brightness(1.05);
    color: var(--color-fg) !important;
  }
  &.agree {
    background-color: var(--color-agree);
    border: 1px solid var(--color-agree-border);
  }
  &.disagree {
    background-color: var(--color-disagree);
    border: 1px solid var(--color-disagree-border);
  }
}
.nav-answer-links .answer-link.root-argument, .page-content .root-argument {
  width: fit-content;
  span {
    border-bottom: none;
  }
}

.page-content .root-argument {
  margin-bottom: 1em;
}

.argument-container {
  padding-left: 0.5em;
}
.argument-shape-link {
  display: block;
  position: relative;
  cursor: pointer;
  border-bottom: none;
  transition: opacity 0.1s;
  &.pulse {
    opacity: 0.5;
  }
  &.agree .argument-shape {
    color: var(--color-agree);
  }
  &.disagree .argument-shape {
    color: var(--color-disagree);
  }
  &:hover {
    color: var(--color-fg) !important;
    .argument-shape {
      filter: brightness(1.15);
    }
    .argument-title {
      width: fit-content;
      max-width: fit-content;
      z-index: 10;
      font-weight: bold;
      background-color:var(--color-bg);
      padding-right: 4px;
      padding-left: 4px;
      margin-left: -4px;
    }
  }
  &:visited {
    color: var(--color-visited);
  }
  .argument-shape {
    display: inline-block;
    transform: scaleX(1.5) rotate(45deg);
    transition: color 0.3s;
    color: #bbc;
  }
  .argument-title {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
    position: absolute;
    top: 4px;
    left: 2em;
    letter-spacing: .01em;
  }
  &.active {
    background-color: var(--color-answer);
    border-radius: 5px;
    position: relative;
    left: -0.75em;
    > .argument-shape {
      position: relative;
      left: 0.75em;
    }
    > .argument-title {
      color: var(--color-active-link);
      font-weight: bold;
      left: 3em;
    }
  }
  .sub-sub-argument {
    margin-left: 30px;
  }
}

.root-argument-container .argument-container .argument-container .argument-shape-link {
  &.agree .argument-shape {
    color: #bbc;
  }
  &.disagree .argument-shape, &.none .argument-shape {
    color: var(--color-accent1);;
  }
}

.site-section-header {
  background-color: var(--color-accent1);
  padding-left: 10px;
  @include inner;
  h2 {
    margin-bottom: 0;
  }
}
#main.argument {
  .inner {
    padding-top: 2em;
    margin: 0 auto;
  }
  .major h1 {
    line-height: 1.25;
  }
}

.ptb0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.inaccessible-argument {
  color: #888;
}

.hidden-inaccessible-argument-link {
  display: none;
}

.allow-forward-argument-links-controls {
  display: none;
  background-color: #faa;
  font-weight: bold;
  text-align: center;
}

.question {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  display: inline-block;
}

.nav-answers {
  padding-left: 0;
  list-style-type: none;
  .icon {
    margin: 0 1ch;
  }
  .icon.fa-check-square {
    color: var(--color-visited);
  }
  .icon.fa-envelope-o {
    width: 13px;
    display: inline-block;
  }
  li {
    margin-bottom: 0.5em;
  }
  li a.answer-button-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-accent1);
    padding: 0.1em 0 0.1em 0.5em;
    margin-left: 1.25em;
    margin-bottom: 0;
    border: 1px solid #bcd;
    border-radius: 5px;
    opacity: 0.8;
    text-decoration: none;
    text-transform: none;
    letter-spacing: .025em;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  li label {
    width: 100%;
    background-color: var(--color-answer);
    margin-bottom: 0;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: none;
    letter-spacing: .025em;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      filter: brightness(0.95);
    }
    &.yes-no {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  li label {
    margin-left: 40px;
    &:before {
      border: 1px solid var(--color-border);
      left: -44px;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.1s, height 0.1s, padding 0.1s;
    }
    &.pulse:before {
      width: 1.7em;
      height: 1.7em;
      padding: 0.05em;
    }
  }
  input[type="checkbox"]+label {
    font-size: 1.1rem;
    padding: 4px 25px;
    transition: 0.3s padding;
  }
  input[type="checkbox"]:checked+label:before {
    height: 2em;
    width: 2em;
  }
  input[type="checkbox"]:checked+label.has-link {
    padding-left: 8px;
    padding-right: 8px;
  }
  input[type="checkbox"]:checked+label+.answer-link, .answer-button-link+.answer-link {
    width: 39px;
    i {
      display: inline;
    }
  }
}

.answer-label-link-container {
  display: flex;
  align-items: stretch;
  margin-left: 1em;
  textarea {
    margin-left: 23px;
    font-size: 1.1rem;
  }
  &.feedback-button-container {
    flex-direction: row-reverse;
    button {
      transition: 0.1s background-color;
      &.pulse {
        background-color: var(--color-fg-bold);
      }
    }
  }
}
.answer-link {
  width: 0;
  cursor: pointer;
  border-bottom: none;
  line-height: 1.4em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color-accent1);
  color: var(--color-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: 0.3s width;
  i {
    display: none;
    font-size: 80%;
  }
  &:hover {
    opacity: 1;
  }
}
.answer-link-button {
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color:#eee;
  max-width: fit-content;
  margin-bottom: 0.6em;
  font-size: 1.1em;
  span {
    padding: 0 1ch;
    border: none;
  }
}

.toc-heading {
  font-size: 20px;
  font-weight: bold;
  padding-left: 13px;
}

.page-content li {
  margin-bottom: 0.6em;
}

em {
  font-style: normal;
  font-weight: bold;
}

.toc-column-gap {
  width: 9vw;
  max-width: 80px;
}

.go-back-link {
  display: inline-block;
  line-height: 24px;
  margin-bottom: 1.5em;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em 2em;
}

.comment {
  margin-top: 1em;
  border-bottom: 1px solid #aaa;
}

@include breakpoint(xlarge) {
  #main.argument .inner {
    margin: 0 calc(25%);
    width: 75ch;
  }
  .argument-branch-sidebar {
    max-width: 280px;
    left: 28px;
  }
}

@include breakpoint(large) {
  #main.argument .inner {
    padding-left: 60px;
    margin: 0 12em;
  }
  .argument-branch-sidebar {
    max-width: 200px;
    left: 8px
  }
  .nav-answers .answer-link.visible {
    display: flex;
  }
}

@include breakpoint(medium) {
  .argument-branch-sidebar {
    display: none !important;
  }
  #main.argument .inner {
    margin: 0 auto;
    padding-left: 0;
  }
  .argument-map .argument-shape-link .argument-title {
    max-width: 80px;
  }
  .argument-content {
    display: flex;
    flex-direction: column;
    .argument-map {
      order: 5;
    }
  }
  .argument-map {
    display: block;
  }
  .argument-map .argument-shape-link .argument-title {
    max-width: fit-content;
  }
  .site-section-header {
    text-align: right;
  }
  .charts {
    display: block;
  }
}
@include breakpoint(small) {
  #main.argument .inner {
    padding: 3em 0 1.5em 0;
    width: calc(100% - 3em);
  }
}
