.argument-content * {
  @include inner;
}

.argument-map {
  padding: 10px;
  display: flex;
  gap: 10px;
  .argument-list {
    margin-left: 10px;
    margin-top: 4px;
  }
}

.argument-branch-sidebar {
  max-width: 200px;
  position: fixed;
  top: 70px;
  left: 8px;
  display: none;
}

.root-argument {
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  background-color: var(--color-header-bg);
  padding: 6px;
  cursor: pointer;
  &:hover {
    filter: brightness(1.05);
    color: var(--color-fg) !important;
  }
  &:visited {
    color: var(--color-fg) !important;
    border-bottom: #d0d0d0;
  }
  &.agree {
    background-color: #8d8;
    border: #53ce53
  }
  &.disagree {
    background-color: #d88;
    border: #ce5353;
  }
}
.nav-answer-links .answer-link.root-argument, .page-content .root-argument {
  width: fit-content;
  span {
    border-bottom: none;
  }
}

.argument-container {
  padding-left: 1em;
}
.argument-shape-link {
  display: block;
  position: relative;
  cursor: pointer;
  border-bottom: none;
  &.agree .argument-shape {
    color: #8d8;
  }
  &.disagree .argument-shape {
    color: #d88;
  }
  &:visited {
    color: var(--color-fg) !important;
  }
  &:hover {
    color: var(--color-fg) !important;
    .argument-shape {
      filter: brightness(1.15);
    }
    .argument-title {
      width: fit-content;
      max-width: fit-content;
      z-index: 10;
      font-weight: bold;
      background-color:var(--color-bg);
      padding-right: 10px;
    }
  }
  .argument-shape {
    display: inline-block;
    transform: scaleX(1.5) rotate(45deg);
    transition: color 0.3s;
    color: #bbc;
  }
  .argument-title {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 0.7em;
    vertical-align: middle;
    position: absolute;
    top: 4px;
    left: 28px;
  }
  .sub-sub-argument {
    margin-left: 30px;
  }
}

.root-argument-container .argument-container .argument-container .argument-shape-link {
  &.agree .argument-shape {
    color: #bbc;
  }
  &.disagree .argument-shape, &.none .argument-shape {
    color: var(--color-accent1);;
  }
}

.site-section-header {
  background-color: var(--color-accent1);
  padding-left: 10px;
  @include inner;
  h2 {
    margin-bottom: 0;
  }
}
#main.argument {
  .inner {
    padding-top: 2em;
    margin: 0 auto;
  }
  .major h1 {
    line-height: 1.25;
  }
}

.ptb0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.argument-section {
  // display: flex;
}

.inaccessible-argument {
  color: #888;
}

.hidden-inaccessible-argument-link {
  display: none;
}

.allow-forward-argument-links-controls {
  display: none;
  background-color: #faa;
  font-weight: bold;
  text-align: center;
}

.question {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  display: inline-block;
}

.nav-answers {
  padding-left: 0;
  list-style-type: none;
  .icon {
    margin: 0 1ch;
  }
  .icon.fa-check-square {
    color: var(--color-visited);
  }
  .icon.fa-envelope-o {
    width: 13px;
    display: inline-block;
  }
  li label, li a {
    display: block;
    background-color: #def;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    text-transform: none;
    letter-spacing: .025em;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      filter: brightness(0.95);
    }
  }
  li label {
    margin-left: 40px;
    &:before {
      border: 1px solid var(--color-border);
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      transition: width 0.1s, height 0.1s, padding 0.1s;
    }
    &.pulse:before {
      width: 1.7em;
      height: 1.7em;
      padding: 0.05em;
    }
  }
  li a {
    text-decoration: none;
    border: 1px solid #bcd;
    &:after {
      content: '▶';
      float: right;
      margin-top: 2px;
      margin-right: 5px;
    }
  }
}

.nav-answer-links {
  display: none;
  .answer-link {
    display: none;
    cursor: pointer;
    border-bottom: none;
    span {
      border-bottom: 1px dotted var(--color-fg);
    }
  }
  .answer-link-button {
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color:#eee;
    max-width: fit-content;
    margin-bottom: 0.6em;
    font-size: 1.1em;
    span {
      padding: 0 1ch;
      border: none;
    }
  }
  &.show {
    display: block;
    .answer-link {
      display: block;
    }
  }
}

.toc-heading {
  font-size: 20px;
  font-weight: bold;
  padding-left: 13px;
}

.feedback-button {
  background-color: inherit;
  transition: background-color 0.3s;
}

.feedback-button-pulsed {
  background-color: var(--color-accent1);
}

em {
  font-style: normal;
  font-weight: bold;
}

.toc-column-gap {
  width: 9vw;
  max-width: 80px;
}

@include breakpoint(large) {
  #main.argument .inner {
    padding-left: 110px;
  }
}

@include breakpoint(medium) {
  .argument-branch-sidebar {
    display: none !important;
  }
  #main.argument .inner {
    margin: 0 auto;
    padding-left: 0;
  }
  .argument-map .argument-shape-link .argument-title {
    max-width: 80px;
  }
  .argument-content {
    display: flex;
    flex-direction: column;
    .argument-map {
      order: 5;
    }
  }
  .argument-map {
    display: block;
  }
  .argument-map .argument-shape-link .argument-title {
    max-width: fit-content;
  }
  .site-section-header {
    text-align: right;
  }
}
